@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

:root {
  --font-xyz: "Courier Prime", serif;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container {
  min-height: 100vh;
}

button a {
  color: inherit !important;
  text-decoration: none;
}

table {
  width: 100%;
}

.form-control {
  margin-bottom: 1rem;
}

p,
span,
label,
button,
a {
  font-size: 0.85rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

.row {
  margin: 0;
}

.btn-primary {
  background-color: white;
  color: #4169e3;
  font-size: 0.85rem;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #4169e3;
  font-size: 0.85rem;
}

.btn-warning {
  background-color: #ff5318;
  color: white;
  font-size: 0.85rem;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
  background-color: #eb4b16;
  color: white;
  font-size: 0.85rem;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.basic-layout {
  background: rgb(157, 215, 231);
}
